@model HotelManagementSystem.Models.User

@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-12 bg-light">
    <h2>Admin Profile</h2>

    <div>
        <h4>Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "AdminEdit", new { id = Model.UserId},new { @class = "btn btn-primary" })
    </p>
</div>
